development:
  adapter: postgresql
  encoding: unicode
  database: hctbox-demo_development
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: hctbox-demo_test
  pool: 5
  username:
  password:


test:
  adapter: postgresql
  encoding: unicode
  database: hctbox-demo_production
  pool: 5
  username:
  password:
